<div>
  A scheduled dispatch that repeats every
  <input type="number" class="slim number" [(ngModel)]="dispatch.intervalInMinutes" (change)="updateDispatch()">
  minutes
</div>
<div>
  Within that interval, it begins a new schedule at the following offsets:
  <ul>
    <li *ngFor="let departure of dispatch.departures; let i = index; trackBy: trackDeparture">
      <input type="number" class="slim number" [(ngModel)]="dispatch.departures[i]" (change)="updateDispatch()"> minutes
      <small><button [disabled]="dispatch.departures.length <= 1" (click)="removeDeparture(i)">Delete</button></small>
    </li>
    <li>
      <input type="number"
             class="slim number"
             min="0"
             [max]="dispatch.intervalInMinutes"
             [(ngModel)]="newDeparture"
             (keyup.enter)="addDeparture()"
      > minutes
      <small><button (click)="addDeparture()">Add</button></small>
    </li>
  </ul>
  <small>Explanation: With a interval of 60 minutes and departures at offsets 0 and 30, the train would start at 00:00 and 00:30</small>
</div>
