<div class="box">
  <form [formGroup]="form">
    <div id="basic-properties">
      <input placeholder="Name" formControlName="name" />

      <h4>Tags</h4>
      <ul id="tags">
        <li *ngFor="let tagId of form.value.tags; let i=index">
          <app-tag [tag]="findTagWithId(tagId)"></app-tag>
          <a (click)="removeTag(tagId, i)">&nbsp; remove</a>
        </li>
      </ul>

      <div *ngIf="availableTags.length > 0">
        <select id="available-tags" (change)="onTagSelectionChange($event.target.value)">
          <option selected>Add a new tag...</option>
          <option *ngFor="let tag of availableTags;" [value]="tag.id">{{ tag.title }}</option>
        </select>
      </div>
    </div>
    <div id="orders-editor">
      <h4>Timetable</h4>
      <app-timetable-structural-editor
        [timetableId]="id"
        [formGroup]="form"
        [formArray]="form.controls['orders']"
      ></app-timetable-structural-editor>
    </div>
  </form>
</div>
<button (click)="save()">Save</button>
