<mat-card>
  <form [formGroup]="form">
    <div id="basic-properties">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <h4>Tags</h4>
      <ul id="tags">
        <li *ngFor="let tagId of form.value.tags; let i=index">
          <app-tag [tag]="findTagWithId(tagId)"></app-tag>
          <button mat-icon-button (click)="removeTag(tagId, i)"><mat-icon>remove</mat-icon></button>
        </li>
      </ul>
      <div *ngIf="availableTags.length > 0">
        <mat-form-field>
          <mat-select placeholder="Search new tag...">
            <mat-option *ngFor="let tag of availableTags;" [value]="tag.id" (onSelectionChange)="onTagSelectionChange($event)">
              <app-tag [tag]="tag"></app-tag>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div id="orders-editor">
      <h4>Timetable</h4>
      <app-timetable-structural-editor
        [timetableId]="id"
        [formGroup]="form"
        [formArray]="form.controls['orders']"
      ></app-timetable-structural-editor>
    </div>
  </form>
</mat-card>
<button mat-button mat-raised-button	color="primary" (click)="save()">Save</button>
