@import "../mixins";
@import "../variables";

// Overwrite milligram
form {
  margin-bottom: 0;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input:not([type]):focus, textarea:focus, select:focus {
  border-color: $primary-color;
}

select:focus {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23FF8617" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: $primary-color;
  border: 0.1rem solid $primary-color;
}

.button[disabled]:focus, .button[disabled]:hover, button[disabled]:focus, button[disabled]:hover, input[type="button"][disabled]:focus, input[type="button"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="reset"][disabled]:hover, input[type="submit"][disabled]:focus, input[type="submit"][disabled]:hover {
  background-color: $hover-color;
  border: 0.1rem solid $hover-color;
}


// Disabling arrow buttons
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// Slim inputs for inline text entry
input.slim {
  width: 30px;
  border: none;
  border-bottom: 1px solid $text-color;
  border-radius: 0;
  padding: 0;
  text-align: center;

  &:active {
    border-bottom: 1px solid $primary-color;
  }
}

button.icon-button {
  padding: 0;

  background-color: transparent;
  border-color: transparent;
  color: $text-color;

  line-height: 1;
  margin-bottom: 0;
  vertical-align: middle;

  &:hover {
    background-color: transparent;
    color: $primary-color;
    border: none;
    cursor: pointer;
  }
}
