@import "../mixins";
@import "../variables";


button {
  @include shadow;

  border: none;
  border-radius: $borderRadius;
  background-color: $primary-color;
  color: white;
  padding: 1rem;
  margin: 0.8rem 0;
  cursor: pointer;

  &:hover {
    border: none;
  }
}

input {
  background: none;
  border: 1px solid $separation-color;
  border-radius: $borderRadius;

  &:active, &:hover, &:focus {
    border: 1px solid $primary-color;
  }
}


// Disabling arrow buttons
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// Slim inputs for inline text entry
input.slim {
  width: 30px;
  border: none;
  border-bottom: 1px solid $text-color;
  border-radius: 0;
  padding: 0;
  text-align: center;

  &:active, &:hover, &:focus {
    border-bottom: 1px solid $primary-color;
  }
}

button.icon-button {
  padding: 0;
  margin: 0;

  background-color: transparent;
  border-color: transparent;
  color: $text-color;
  box-shadow: none;

  line-height: 1;
  vertical-align: middle;

  &:hover, &:active {
    background-color: transparent;
    color: $primary-color;
    border: none;
    cursor: pointer;
  }
}
