<div class="box">
  <form [formGroup]="newTagForm" (ngSubmit)="onSubmit()">
    <h2>New Tag</h2>
    <label for="title">Tag Title</label>
    <input id="title" formControlName="title" placeholder="Title">

    <div>
      <label for="primary-color-picker">Primary Color:</label>
      <input id="primary-color-picker"
             class="tag-color-picker"
             [(colorPicker)]="tag.primaryColor"
             [value]="tag.primaryColor"
             [ngStyle]="{background: tag.primaryColor, color: tag.secondaryColor, 'border-color': tag.secondaryColor}"
             (colorPickerChange)="onPrimaryColorChange($event)"
             placeholder="Primary Color"
             formControlName="primaryColor">
    </div>

    <div>
      <label for="secondary-color-picker">Secondary Color:</label>
      <input id="secondary-color-picker"
             class="tag-color-picker"
             [(colorPicker)]="tag.secondaryColor"
             [value]="tag.secondaryColor"
             [ngStyle]="{background: tag.secondaryColor, color: tag.primaryColor, 'border-color': tag.primaryColor}"
             (colorPickerChange)="onSecondaryColorChanged($event)"
             placeholder="Primary Color"
             formControlName="primaryColor">
    </div>
  </form>
  Preview: <app-tag [tag]="tag"></app-tag>
</div>
<button (click)="onSubmit()">Save</button>
