@import "../../../styles";

form {
  @include flex-rows;
  @include inbox-spacing;

  #destination-type {
    flex-shrink: 1;
    flex-basis: content;
  }

  #destination-name {
    flex-grow: 1;
  }
}
