@import "../variables";
@import "../mixins";

#root-grid {
  @include full-size;
  display: grid;
  grid-template-columns: $sidebar-width auto;
}

#sidebar {
  @include flex-rows;

  border-right: 1px solid $separation-color;

  > div {
    @include flex-rows;

    width: 100%;
    height: $sidebar-item-height;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    a {
      @include flex-columns;

      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      &.active {
        color: white;
        background-color: $primary-color;
      }
      &:hover {
        color: white;
        background-color: $hover-color;
      }
    }
  }
}

#content {
  @include inset-shadow;

  background-color: $background-color;
  padding: 2.5rem 2.5rem;
}
