@import "../variables";
@import "../mixins";

#root-grid {
  @include full-size;
  display: grid;
  grid-template-columns: $sidebar-width auto;
}

#sidebar {
  @include flex-columns;

  border-right: 1px solid $separation-color;
}

main {
  @include inset-shadow;

  background-color: $background-color;
  padding: 2.5rem 2.5rem;
}
