<mat-sidenav-container id="root">
  <mat-sidenav mode="side" opened>
    <a mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon><br />
      Home
    </a>

    <a mat-button routerLink="/stations" routerLinkActive="active">
      <mat-icon>location_city</mat-icon><br />
      Stations
    </a>
    <a mat-button routerLink="/dispatches" routerLinkActive="active">
      <mat-icon>schedule</mat-icon><br />
      Scheduled Dispatch
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
