@import "../theme";

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer {
  display: flex;
  flex-direction: column;
  width: 250px;
  a {
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;

    &.active, &:hover {
      background-color: rgb(252, 129, 26);
      color: white;
    }
  }
}

mat-sidenav-content {
  padding: 15px;
}
