<div id="root-grid">
  <nav id="sidebar">
    <!-- TODO: Extract sidebar logic into its own component! -->
    <div class="sidebar-link" *ngFor="let link of displayedLinks">
      <a [routerLink]="link.routerLink" routerLinkActive="active">
        <ng-container [ngSwitch]="link.featherIcon">
          <ng-template ngSwitchCase="home"><i-home></i-home></ng-template>
          <ng-template ngSwitchCase="map-pin"><i-map-pin></i-map-pin></ng-template>
          <ng-template ngSwitchDefault><i-help-circle></i-help-circle></ng-template>
        </ng-container>
        <span>{{ link.linkText }}</span>
      </a>
    </div>
  </nav>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
