<span mode="buffer" [ngClass]="{'indicate-progress': isLoading}">...</span>
<table *ngIf="schedules" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Station</th>
      <th *ngFor="let _ of schedules[0].departures; let i = index">Dep. {{ i }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stationDepartures of schedules; let even = even" [ngClass]="{even: even}">
      <td>{{ stationDepartures.station }}</td>
      <td *ngFor="let departure of stationDepartures.departures">
        A: {{ departure.arrival }}<br />
        D: {{ (stationDepartures.returnTrip) ? '--:--' : departure.departure }}
      </td>
    </tr>
  </tbody>
</table>
