<datalist id="stations">
  <option *ngFor="let option of filteredStations" [value]="option.name">
    {{ option.name }}
  </option>
</datalist>

<div [formGroup]="formGroup">
  <table border="0" cellspacing="0" cellpadding="0" formArrayName="orders">
    <thead>
      <tr>
        <th>Station</th>
        <th>Staying Time</th>
        <th>Travel Time</th>D
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _ of formArray.controls; let i = index">
        <td>
          <span [formGroupName]="i">
            <input type="text"
                   formControlName="destination"
                   (focus)="onFocusChanged(formArray.controls[i].controls['destination'])"
                   list="stations"
            >
          </span>
        </td>
        <td>
          <span [formGroupName]="i">
            <input type="number"
                   [value]="formArray.value[i].stayingTime"
                   min="0"
                   max="256"
                   formControlName="stayingTime"
            >
          </span>
        </td>
        <td>
          <span [formGroupName]="i">
            <input type="number"
                   [value]="formArray.value[i].travelingTime"
                   min="0"
                   max="256"
                   formControlName="travelingTime"
            >
          </span>
        </td>
        <td>
          <button (click)="onRowUp(i)" [ngClass]="{hidden: i == 0}">
            up
          </button>

          <button (click)="onRowDown(i)" [ngClass]="{hidden: (i == orders.length-1)}">
            down
          </button>

          <button (click)="onRowDeleted(i)">
            del
          </button>
        </td>
      </tr>
      <tr [formGroup]="newOrderForm">
        <td>
            <input #destinationInput
                   type="text"
                   formControlName="destination"
                   (focus)="onFocusChanged(newOrderForm.controls['destination'])"
                   list="stations"
            >
        </td>
        <td>
          <input type="number"
                 min="0"
                 max="256"
                 formControlName="stayingTime"
          >
        </td>
        <td>
          <input type="number"
                 min="0"
                 max="256"
                 formControlName="travelingTime"
                 (blur)="addNewStation()"
          >
        </td>
        <td>
          <button (click)="addNewStation()">
            Add
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
