<datalist id="stations">
  <option *ngFor="let option of filteredStations" [value]="option.name">
    {{ option.name }}
  </option>
</datalist>

<div [formGroup]="formGroup">
  <table border="0" cellspacing="0" cellpadding="0" formArrayName="orders">
    <thead>
      <tr>
        <th>Station</th>
        <th>Staying Time</th>
        <th>Travel Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _ of formArray.controls; let i = index">
        <td>
          <span [formGroupName]="i">
            <input class="faux-slim"
                   type="text"
                   formControlName="destination"
                   (focus)="onFocusChanged(formArray.controls[i].controls['destination'])"
                   list="stations"
            >
          </span>
        </td>
        <td>
          <span [formGroupName]="i">
            <input type="number"
                   class="slim"
                   [value]="formArray.value[i].stayingTime"
                   min="0"
                   max="256"
                   formControlName="stayingTime"
            >
          </span>
        </td>
        <td>
          <span [formGroupName]="i">
            <input type="number"
                   class="slim"
                   [value]="formArray.value[i].travelingTime"
                   min="0"
                   max="256"
                   formControlName="travelingTime"
            >
          </span>
        </td>
        <td>
          <button class="icon-button" (click)="onRowUp(i)" [disabled]="i === 0">
            <i-arrow-up></i-arrow-up>
          </button>

          <button class="icon-button" (click)="onRowDown(i)" [disabled]="(i == orders.length-1)">
            <i-arrow-down></i-arrow-down>
          </button>

          <button class="icon-button" (click)="onRowDeleted(i)" [disabled]="orders.length === 1">
            <i-x></i-x>
          </button>
        </td>
      </tr>
      <tr [formGroup]="newOrderForm">
        <td>
            <input #destinationInput
                   class="faux-slim"
                   type="text"
                   formControlName="destination"
                   (focus)="onFocusChanged(newOrderForm.controls['destination'])"
                   list="stations"
            >
        </td>
        <td>
          <input type="number"
                 class="slim"
                 min="0"
                 max="256"
                 formControlName="stayingTime"
          >
        </td>
        <td>
          <input type="number"
                 class="slim"
                 min="0"
                 max="256"
                 formControlName="travelingTime"
                 (blur)="addNewStation()"
          >
        </td>
        <td>
          <button class="icon-button" (click)="addNewStation()">
            <i-plus></i-plus>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
