<!--<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Station</th>
      <th>Staying Time</th>
      <th>Travel Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders; let i = index; let even = even" [ngClass]="{even: even}">
      <td>{{ order.destination }}</td>
      <td>
        <input type="number"
               class="slim number"
               [value]="order.stayingTime"
               (change)="onStayingTimeChanged(order, $event.target.value)"
               min="0"
               max="256"
        >
      </td>
      <td>
        <input type="number"
               class="slim number"
                [value]="order.travelingTime"
                (change)="onTravelingTimeChanged(order, $event.target.value)"
                min="0"
                max="256"
        >
      </td>
    </tr>
  </tbody>
</table>-->
