#compact-timetable-schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  mat-card {
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}

#timetable-table, #schedule-table {
  margin-bottom: 10px;
  a {
    margin-top: 15px;
  }
}
