<mat-card>
  <div *ngIf="dispatch">
    <mat-card-title>Dispatch for timetable {{ dispatch.timetable }}</mat-card-title>
    <app-dispatch-basics [dispatch]="dispatch"></app-dispatch-basics>
  </div>
</mat-card>

<div id="compact-timetable-schedule">
  <mat-card>
    <mat-card-title>Timetable</mat-card-title>
    <div id="timetable-table" *ngIf="dispatch; else timetableLoading">
      <app-timetable-editor [timetableId]="dispatch?.timetableId"
                            (timetableChanged)="onTimetableChanges()"
      >
      </app-timetable-editor>

      <a mat-raised-button [routerLink]="['/timetables', dispatch?.timetableId]">Open full timetable editor</a>
    </div>
    <ng-template #timetableLoading>
      The timetable is loading...
    </ng-template>

  </mat-card>

  <mat-card>
    <mat-card-title>Schedule</mat-card-title>
    <div id="schedule-table" *ngIf="dispatch != null; else scheduleLoading;">

      <app-departure-table [numSchedules]="numberOfDeparturesDisplayed.value"
                           [dispatchId]="id"
                           [dispatchChange]="dispatchChange.asObservable()"
      >
      </app-departure-table>

    </div>
    <ng-template #scheduleLoading>
      The schedule is loading...
    </ng-template>

    <div>
      Display # of departures:
        <input [formControl]="numberOfDeparturesDisplayed"
               class="slim number"
               type="number" max="25" min="1"
               autofocus
        >
    </div>
  </mat-card>
</div>
