#compact-timetable-schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  // Hack to get correct behaviour when wrapping the two flex-items around
  margin: 0 -5px;

  div{
    flex-grow: 1;
    
    &:last-child {
      margin: 0 5px;
    }
  }
}

#timetable-table, #schedule-table {
  margin-bottom: 10px;
  a {
    margin-top: 15px;
  }
}
