<mat-card xmlns="http://www.w3.org/1999/html">
  <mat-card-title>{{ dispatch?.timetable || 'Unknown Dispatch' }}</mat-card-title>
  <p>A scheduled dispatch that repeats every {{ dispatch?.intervalInMinutes || '∞' }} minutes</p>
  <div>
    It departs at the following times:
    <ul>
      <li *ngFor="let departure of dispatch?.departures || []">{{ departure }}</li>
    </ul>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Timetable</mat-card-title>
  <app-timetable-table *ngIf="id != 1; else timetableLoading"
                       [timetableId]="dispatch.timetableId"
  >

  </app-timetable-table>
  <ng-template #timetableLoading>
    The timetable is loading...
  </ng-template>
</mat-card>

<mat-card>
  <mat-card-title>Schedule</mat-card-title>
  <mat-form-field>
    <input matInput
           placeholder="# departures"
           [(ngModel)]="numberOfDeparturesDisplayed"
           type="number" max="25" min="1"
           autofocus
    >
  </mat-form-field>
  <app-departure-table *ngIf="id != -1; else scheduleLoading;"
                       [dispatchId]="id"
                       [numSchedules]="numberOfDeparturesDisplayed"
  >

  </app-departure-table>
  <ng-template #scheduleLoading>
    The schedule is loading...
  </ng-template>
</mat-card>
