<mat-card>
  <mat-card-title>Dispatch for timetable {{ dispatch?.timetable || '&lt;unknown&gt;' }}</mat-card-title>
  <div>
    A scheduled dispatch that repeats every
    <strong>{{ dispatch?.intervalInMinutes || '∞' }}</strong>
    minutes
  </div>
  <div>
    Within that interval, it begins a new schedule at the following offsets:
    <ul>
      <li *ngFor="let departure of dispatch?.departures || []">
        <strong>{{ departure }}</strong> minutes
      </li>
    </ul>
    <small>Explanation: With a interval of 60 minutes and departures at offsets 0 and 30, the train would start at 00:00 and 00:30</small>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Timetable</mat-card-title>
  <app-timetable-table *ngIf="id != 1; else timetableLoading"
                       [timetableId]="dispatch.timetableId"
  >

  </app-timetable-table>
  <ng-template #timetableLoading>
    The timetable is loading...
  </ng-template>
</mat-card>

<mat-card>
  <mat-card-title>Schedule</mat-card-title>
  <mat-form-field>
    <input matInput
           placeholder="# departures"
           [(ngModel)]="numberOfDeparturesDisplayed"
           type="number" max="25" min="1"
           autofocus
    >
  </mat-form-field>
  <app-departure-table *ngIf="id != -1; else scheduleLoading;"
                       [dispatchId]="id"
                       [numSchedules]="numberOfDeparturesDisplayed"
  >

  </app-departure-table>
  <ng-template #scheduleLoading>
    The schedule is loading...
  </ng-template>
</mat-card>
